#python 3.13.7:
--index-url https://download.pytorch.org/whl/cu118
torch==2.7.1+cu118
torchvision==0.22.1+cu118
torchaudio==2.7.1
matplotlib
numpy
pillow
opencv-python
ultralytics
flask
werkzeug
ensemble-boxes
tqdm

#python 3.9:(Lưu ý cài cuda 11.8 bên ngoài cho phiên bản 3.9)
#Cài trên terminal:
#pip uninstall torch torchvision torchaudio mmcv-full mmdet ultralytics -y
#pip install torch==2.0.1 torchvision==0.15.2 torchaudio==2.0.2 --index-url https://download.pytorch.org/whl/cu118
#pip install mmcv-full==1.7.2 -f https://download.openmmlab.com/mmcv/dist/cu118/torch2.0.0/index.html
#pip install openmim
#mim install mmdet==2.28.2
#pip install mmengine==0.10.4
# matplotlib
# numpy>=1.23,<2.0
# pillow
# opencv-python
# ultralytics
# flask
# werkzeug
# mmdet==2.28.2

